.myClass{
	color: red;
}


blockquote.co {
    /* width: 300px; */
    /* margin: auto; */
    float: right;
    background: rgba(0,0,0,0.2);
}

article {
    margin: autp;
    margin: auto;
    width: 600px;
}

blockquote.co {
    width: 25%;
}
